body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: antiquewhite;
    
  }
  
  img {
    padding: 0px;
    width: 50vw;
    height: auto;
    max-width: 100%;
  }
  
  p {
    flex-direction: column;
    display: flex;
    margin: 1em 0;
    max-width: 750px; 
    margin-left: 20px;
    text-align: center;
    font-size: clamp(16px, 2vw, 24px);
    font-weight: bolder;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
  }

  button {
    display: flex;
    position: fixed;
    top: 5%;
    left: 50%;
    transform: translateX(-50%);
    margin: 5px;
    scale: 2.0;
    background-color: beige;
    cursor: pointer;
    
  }

  
